.button {
    border-radius: 100px;
    border: none;
    min-height: 35px;
    color: var(--color-on-accent);
}

.grow {
    flex: 1 1 50%;
}

.primary {
    background-color: var(--color-accent);
}

.secondary {
    background-color: var(--color-dark);
}