.toolbar {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;

    background-color: #EEEEEE;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}

@media only screen and (max-width: 1128px) {
    img {
        height: 2rem;
        width: 2rem;
    }
    svg {
        font-size: 2rem;
    }

}
@media only screen and (max-device-width: 1128px) {
    img {
        height: 1rem;
        width: 2rem;
    }
    .toolbar {

    }
}

.bottom {
    margin-left: auto;
    margin-right: auto;
    bottom: 15px;
    left: 0;
    right: 0;
    width: 50vw;
    padding: 10px;
}

.left {
    flex-direction: column;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
    bottom: 0;
    top: 0;
    left: 15px;
    height: 50vh;
    max-height: 500px;
    min-height: 400px;
    width: 75px;
    padding: 30px 10px 30px 10px;
}

.bottom div, .bottom hr {
    margin-right: 1rem;
}

svg, img {
    cursor: pointer;
}


@keyframes fadeInFromComplete {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOutComplete {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}